.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url( '../../assets/img/bg1.png') no-repeat ;
    background-size: cover;
    height: 100vh;
}

.login{
    display: grid;
  grid-template: 100% / 50% 50%;
    margin: 2rem auto;
    background-color:#ffffff;
    border-radius: 10px;  
    max-width: 900px;
    width: 100%;
}

@media screen and (max-width:767px) {
.login{
    width: 60%;
    grid-template: none;
}

 .login__img{
    display: none;
 }


}

@media screen and (max-width:500px) {
    .login{
       width: 80%;
    }
    
    .login__form{
        padding: 1.5rem;
    }
    
    
    }

.login__img {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0 ; 
}

.login__img > img{
    width: 100%;
    height: 110%;
}

.login__form{
    padding: 1.5rem;
}

.login__form > h3{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.login__form > p{
    width: 80%;
    font-size: .6rem;
    font-weight: 500;
}


.login__form > p> a{
    color: #67d8c9;
}

.login__form > p > a:hover{
    color: #4ecdbc
}

.login__form--group{
    display: flex;
    align-items: center;
    padding:.4rem 0;
    margin-top: 20px;
    border-bottom: 2px solid #e4e4e4;
}



.login__form--group h5{
    display: inline;
    color: #8b8b8b;
    font-size: 0.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    
}

.login__form--group input{
    outline: none;
    border: none;
    flex:1;
    width: 100%;
    padding-left:  1rem ;
    font-size: .6rem;
    font-weight: 560;
    letter-spacing: 2px;
    color: #8b8b8b;
    transition: all .3s ease;
}

.login__form--group input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.login__form--checkbox{
    display: flex;
    margin-top: 15px;
    cursor: pointer;
    gap: 5px;
}

.login__form--checkbox > p{
    font-size: .6rem;
    color: #b5b5b5 ;
}

.login__form--button{
    margin-top: 1.5rem;
    text-align: end;
}

.login__form--button > button{
    border: none;
    outline: none;
    padding: 8px 28px;
    background-color:#fa1643;
    color: #feb3cd;
    font-size: .7rem;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0px 1px 6px 1px #fa1643;
    cursor: pointer;
}